<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head") %>
	<body>
		<%- include("partials/navbar") %>
		<div class="card">
			<h5 class="card-header">Upload Complete</h5>
			<div class="card-body">
				<p class="card-text">Upload more items or view all files</p>
				<a href="/" class="btn btn-primary">Upload More</a>
				<a href="/files" class="btn btn-primary">View Files</a>
			</div>
		</div>
	</body>
</html>
