<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head") %>
	<body>
		<%- include("partials/navbar") %>
		<div class="container">
			<h1>Upload</h1>
			<form action="/upload" method="post" enctype="multipart/form-data">
				<div class="mb-3">
					<label for="files" class="form-label">Select Files</label>
					<input
						type="file"
						class="form-control"
						id="files"
						name="files"
						multiple
						required
					/>
				</div>
				<button id="upload-button" type="submit" class="btn btn-primary">
					Submit
				</button>
			</form>
		</div>
		<script>
			const uploadButton = document.querySelector("#upload-button");
			const form = document.querySelector("form");

			form.addEventListener("submit", (e) => {
				uploadButton.textContent = "Uploading";
				uploadButton.disabled = true;
			});
		</script>
	</body>
</html>
